pre-commit
black
isort
ruff
nbstripout
bandit
numpy
pandas
requests
bs4
streamlit
extra_streamlit_components
google-cloud-storage
openai==0.28.1
langchain==0.1.0
chromadb==0.4.14
tiktoken
gcsfs
s3fs
adlfs
universal_pathlib
langchainhub
gpt4all
pypdf
docx2txt
unstructured
python-pptx
networkx
openpyxl
python-multipart
httpx
pytest
python-jose
trubrics[streamlit]
uvicorn
apify-client
sentence_transformers
sqlglot
dbutils
humanize
mkdocs
mkdocs-techdocs-core
pymdown-extensions
mkdocs_monorepo_plugin
argon2-cffi