argon2-cffi==25.1.0
dbutils==3.1.1
fastapi==0.116.0
Jinja2==3.1.6
python-jose==3.5.0
langchain==0.2.17
langchain_community==0.2.19
langchain_openai==0.1.25
langchain_chroma==0.2.2
langchain_huggingface==0.0.3
langchain_core==0.2.43
langserve==0.2.3
pydantic==1.10.22
pyodbc==5.2.0
python-dotenv==1.1.1
PyYAML==6.0.2
SQLAlchemy==2.0.41
sqlglot==27.0.0
uvicorn==0.35.0
python-multipart==0.0.20
sse_starlette==2.1.3
docdantic==0.2.0
openai==1.93.1
httpx==0.23.0
sentence-transformers==5.0.0
chromadb==0.5.0
mysql_connector_repackaged==0.3.1
psycopg2-binary==2.9.10
posthog==5.4.0
